name: Build

on: push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  matrix:
    name: Build Matrix
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Build matrix
        id: matrix
        run: |
          {
            echo 'matrix<<EOT'
            yq -ojson versions.yaml
            echo 'EOT'
          } | tee -a "$GITHUB_OUTPUT"

  build:
    name: Build ${{ matrix.kubectl_version }}
    runs-on: ubuntu-24.04
    needs: matrix
    strategy:
      matrix: ${{ fromJson(needs.matrix.outputs.matrix) }}
    permissions:
      contents: read
      packages: write
    env:
      labels: |
        org.opencontainers.image.title=kubectl
        org.opencontainers.image.vendor=clevyr
        org.opencontainers.image.source=https://github.com/kubernetes/kubernetes
        org.opencontainers.image.licenses=Apache-2.0
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Docker meta (scratch)
        id: meta-scratch
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: ghcr.io/clevyr/kubectl
          flavor: latest=false
          labels: ${{ env.labels }}
          tags: |
            type=raw,value=latest,enable=${{ matrix.is_latest == true }}
            type=semver,pattern=v{{version}},value=${{ matrix.kubectl_version }}
            type=semver,pattern=v{{major}}.{{minor}},value=${{ matrix.kubectl_version }}

      - name: Docker meta (alpine)
        id: meta-alpine
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: ghcr.io/clevyr/kubectl
          flavor: latest=false
          labels: ${{ env.labels }}
          tags: |
            type=raw,value=alpine,enable=${{ matrix.is_latest == true }}
            type=semver,pattern=v{{version}}-alpine,value=${{ matrix.kubectl_version }}
            type=semver,pattern=v{{major}}.{{minor}}-alpine,value=${{ matrix.kubectl_version }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Set up Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push (scratch)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          pull: true
          push: ${{ github.ref_name == 'main' }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta-scratch.outputs.tags }}
          labels: ${{ steps.meta-scratch.outputs.labels }}
          build-args: |
            VARIANT=scratch
            KUBECTL_VERSION=${{ matrix.kubectl_version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and Push (alpine)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          pull: true
          push: ${{ github.ref_name == 'main' }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta-alpine.outputs.tags }}
          labels: ${{ steps.meta-alpine.outputs.labels }}
          build-args: |
            VARIANT=alpine
            KUBECTL_VERSION=${{ matrix.kubectl_version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
