name: Update Versions

on:
  workflow_dispatch: {}
  schedule:
    - cron: "15 11 * * mon"

jobs:
  update-versions:
    name: Update Versions
    runs-on: ubuntu-24.04
    permissions: {}
    steps:
      - name: Generate Token
        id: app-token
        uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: Update versions
        run: ./update-versions.sh

      - name: Generate commit message
        id: versions
        run: |
          {
            echo 'versions<<EOT'
            yq '.kubectl_version | join(", ")' versions.yaml
            echo 'EOT'
          } >>"$GITHUB_OUTPUT"

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: >-
            chore: update versions

            update kubectl versions to ${{ steps.versions.outputs.versions }}
          commit_user_name: clevyr-kubectl-updater[bot]
          commit_user_email: 223998912+clevyr-kubectl-updater[bot]@users.noreply.github.com
          commit_author: clevyr-kubectl-updater <223998912+clevyr-kubectl-updater[bot]@users.noreply.github.com>
